.board {
    display: flex;
    flex-wrap: wrap;
    width: calc(70px*5);
    height: calc(70px*5);
    border: 2px solid #333;
    box-shadow: 0 0 12px #333;    
    border-radius: 2%;
    padding: 5px;
    margin:30px;
    background: #B8AC9B;
    
}