

.box {
    flex: 1 0 21%;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border: 1px solid #000;
    background: #efe826;
    text-align: center;
    font-weight: bold;
    display: table;
    box-shadow: inset 0 0 6px #333;    
    border-radius: 10%;
    margin: 2px;
}


.box span {
    display: table-cell;
    margin: auto;
    vertical-align: middle;
}

.box-empty {
    background: #F7F7F7;
}


.box-0 {
    background: #C8BCB0;
}

.box-2{
    background: #EDE5D9;
    color: #746D64;
}

.box-4{
    color: #746D64;
    background: #ECE3C4;
}


.box-8{
    background: #F2B66E;
    color: #FFF;
}

.box-16{
    background: #EE8F44;
    color: #FFF;
}

.box-32 {
    background: #EE8F44;
    color: #FFF;
}

.box-64 {
    background: #EE500F;
    color: #FFF;
}

.box-128 {
    background: #EAE132;
    color: #FFF;
}

.box-256 {
    background: #EAE132;
    color: #FFF;
}

.box-512 {
    background:#DCCA00;
    color: #FFF;
}
.box-1024 {
    background: #DCCA00;
    color: #FFF;
    font-size:20px;
}

.box-2048 {
    background: #2BEA91;
    font-size: 20px;
    color: #FFF;
}